@import 'mixins';

$brand-color: #1c4866 !default;
$brand-secondary-color: #ffcc00 !default;
$lighter-grey: #f1f1f1 !default;
$light-grey: #eeeeee !default;
$medium-grey: #d7d7d7 !default;
$dark-grey: #cccccc !default;
$white: #ffffff !default;
$blue: #0073aa !default;
$red: #ff0000 !default;
$green: #14b552 !default;
$info-box-bg-color: #fffce6 !default;
$info-box-border-color: #eeeac9 !default;
$info-box-text-color: #948832 !default;
$base-pad: 15px !default;
$transition-time: .18s !default;
$border-color: $lighter-grey !default;
$border-radius-base: 2px !default;

.sr-only {
	@include sr-only;
}

.vi-row {
	@include clearfix;
	margin-left: -15px;
	margin-right: -15px;
	box-sizing: border-box;
}

[class^="vi-col-"] {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;
	box-sizing: border-box;
}

.vi-btn {
	display: inline-block;
	font-weight: normal;
	margin: 0;
	line-height: normal;
	border: 0;
	box-shadow: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	user-select: none;
	border-radius: 2px;
	width: auto;
	height: auto;
	background-image: none;
	padding: 11px 20px 11px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: $brand-color;
	color: $white;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $white;
		background-color: darken($brand-color, 5%);
	}
}

.vi-btn-green {
	background-color: $green;

	&:hover,
	&:focus {
		color: $white;
		background-color: darken($green, 5%);
	}
}

//
// Brand Modules
//
.vi-brand-module {
	background-color: $brand-color;
	padding: $base-pad;
	color: $white;
	font-size: 12px;

	p {
		font-size: 12px;
	}

	a:not(.vi-btn) {
		color: $brand-secondary-color;
		text-decoration: none;
	}
}

.vi-brand-module-actions {
	text-align: right;

	p {
		margin: 0;
	}
}

//
// Header
//
.vi-header {
	margin: 12px 0 -12px;
	height: 40px;
}

.vi-header-actions {
	text-align: right;
}

.vi-logo {
	display: inline-block;
	position: relative;
	top: -2px;

	img {
		height: 44px;
	}
}

//
// Footer
//
.vi-note {
	font-style: italic;
}

.vi-list-inline {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin: 0;
	}
}

.vi-footer-links {
	a {
		&::after {
			content: "\007c";
			color: $white;
			opacity: .5;
			margin: 0 7px;
		}
	}

	li {
		&:last-child {
			a::after {
				display: none;
			}
		}
	}
}

//
// General
//
.vi-module {
	@include clearfix;
	border: 1px solid $light-grey;
	margin-top: 12px;
	padding: $base-pad;
}

.vi-container {
	margin-top: 12px;
}

//
// Field Controls
//
.vi-field-controls-wrap {
	@include clearfix;
	padding: $base-pad;
	border: 1px solid $light-grey;
}

.vi-field-controls {
	float: left;

	.button {
		margin-right: 5px;
	}
}

.vi-field-controls-visibility {
	float: right;
	padding-top: 4px;
}

.vi-field-controls-visibility {
	a {
		text-decoration: none;
	}
}

.vi-fields-expand-all {
	margin-right: 8px;
	padding-right: 6px;
	border-right: 1px solid $lighter-grey;
}

//
// Fields general structure
//
.vi-fields-container {
	padding: $base-pad;
	border-left: 1px solid $light-grey;
	border-right: 1px solid $light-grey;
}

.vi-field-repeatable {
	margin-bottom: $base-pad;
	border: 1px solid $medium-grey;
	box-shadow: 1px 1px 2px rgba(black, .07);
	border-radius: $border-radius-base;

	&:last-child {
		margin-bottom: 0;
	}

	&:only-child {
		.vi-remove-field {
			display: none;
		}
	}
}

.vi-field-container {
	@include clearfix;
	padding: $base-pad;
	background-color: $white;
	display: flex;
	flex-direction: column;
}

.vi-field-container-links {
	display: flex;
	grid-gap: 20px;

	.vi-field-split {
		width: 50%;
		float: none;
	}
}

.vi-field-head {
	@include clearfix;
	padding: 8px $base-pad 5px;
	line-height: normal;
	background-color: $medium-grey;
	background: linear-gradient(to bottom, $lighter-grey, $medium-grey);
	border-bottom: 1px solid $dark-grey;

	.toggle-indicator {
		border-radius: 50%;
	}

	.vi-fields-sortable & {
		cursor: move;
	}
}

.vi-field-sort-handle {
	position: relative;
	top: 1px;
	color: $blue;

	.dashicons {
		font-size: 18px;
	}
}

.vi-field-title {
	font-weight: bold;
	font-size: 1.05em;
	margin-left: 8px;
	padding-top: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 80%;
	display: inline-block;
}

.vi-field-toggle {
	float: right;
}

.vi-field-image {
	width: 100px;
	height: 100px;
	background-color: $lighter-grey;
	border: 1px solid $light-grey;
	border-radius: $border-radius-base;
}

.vi-field-track-fields {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: 100px 1fr 1fr;
}

//
// Form elements
//
.vi-container,
.vi-module {
	.button {
		.dashicons {
			font-size: 1.2em;
			line-height: 1.7em;
		}
	}
}

.vi-form-field-group {
  padding: $base-pad;
  border: 1px solid $border-color;
  margin-bottom: $base-pad;

  :last-child {
    margin-bottom: 0;
  }

  &-title {
    margin-top: 0;
  }
}

.vi-form-field {
	margin-bottom: $base-pad;

	label {
		display: inline-block;
		font-weight: bold;
		margin-bottom: 3px;
	}

	input[type="text"],
	input[type="url"],
	input[type="search"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="tel"],
	input[type="date"],
  textarea,
	select {
		width: 100%;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline-block;
		position: relative;
		top: 1px;
	}
}

.vi-module-settings {
	.vi-form-field {
		input[type="text"],
		input[type="url"],
		input[type="search"],
		input[type="email"],
		input[type="password"],
		input[type="number"],
		input[type="tel"],
		input[type="date"],
	  textarea,
		select {
			width: 200px;
			max-width: 100%;
			display: block;
		}
	}
}

.vi-form-field-addon {
	position: relative;

	input {
		padding-right: 80px;
	}

	button {
		position: absolute;
		top: 0;
		right: -2px;
	}
}

.vi-field-help {
	margin: 5px 0 0;
	font-style: italic;
	color: #999;
}

.vi-form-field-checkbox-secondary {
	margin-top: 7px;
}

.vi-remove-field {
	align-self: flex-end;
}

.vi-field-image-upload {
	display: block;
	position: relative;
	width: 100px;
	height: 100px;
	text-decoration: none;
	color: initial;
	overflow: hidden;

	img {
		max-width: 100%;
		display: none;
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.vi-field-image-has-value {
	.vi-field-image-upload-dismiss {
		display: block;
	}

	.vi-field-image-placeholder {
		display: none;
	}

	img {
		display: inline-block;
	}
}

.vi-field-image-placeholder {
	text-align: center;
	font-style: normal;
	font-size: .9em;
	opacity: .8;
	padding-top: 28px;

	&::before {
		@include dashicon($icon: "\f128");
		display: block;
		margin-bottom: 5px;
	}

	.vi-field-image-loading &,
	.vi-track-loading & {
		&::before {
			content: "\f463";
			animation: rotation 1.2s infinite linear;
		}
	}
}

.vi-field-image-upload-dismiss {
	color: $white;
	background-color: $red;
	width: 16px;
	height: 16px;
	font-size: 12px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	opacity: .9;
	transition: opacity $transition-time ease-in;
	display: none;
	text-align: center;
	z-index: 2;

	&:hover {
		opacity: 1;
	}

	.dashicons {
		font-size: 16px;
		width: 100%;
		height: 100%;
	}
}

.vi-remove-all-fields,
.vi-remove-field {
	.dashicons {
		color: $red;
	}
}

.vi-add-field-batch,
.vi-add-field {
	.dashicons {
		color: $blue;
	}
}

.vi-info-box {
	background: $info-box-bg-color;
	color: $info-box-text-color;
	font-size: 12px;
	border: solid 1px $info-box-border-color;
	padding: 15px;
	margin: 0 0 15px 0;
}

.vi-playlist-layout-message {
	display: none;
}

//
// Sortable specific
//
.vi-drop-placeholder {
	background-color: $lighter-grey;
	border: 2px dashed $dark-grey;
	opacity: 0.5;
	margin-bottom: $base-pad;
}

//
// Collapsible
//
.vi-collapsed {
	.vi-field-container {
		display: none;
	}

	.toggle-indicator {
		&::before {
			content: "\f140" !important;
		}
	}
}

//
// Shortcode field
//
.vi-module-shortcode {
	.code {
		display: block;
		width: 100%;
		margin-top: 3px;
		padding: 10px 10px 8px;
		font-weight: bold;
		background: $lighter-grey;
	}
}

//
// Media queries
//
@media (max-width: 1100px) {
	.vi-field-controls,
	.vi-field-controls-visibility {
		margin: 0;
		float: none;
		width: 100%;
	}

	.vi-field-controls {
		margin-bottom: 5px;
	}

	.vi-field-container-links {
		display: block;
	}

	.vi-field-container-links .vi-field-split,
	.vi-field-split {
		float: none;
		width: 100%;
	}

	.vi-footer {
		text-align: center;

		.vi-brand-module-actions {
			text-align: center;
			margin-top: 10px;
		}

		[class^="vi-col"] {
			width: 100%;
		}
	}
}

@media (max-width: 782px) {
	.vi-container,
	.vi-module {
		.button {
			.dashicons {
				line-height: 1.2em;
			}
		}
	}

	.vi-form-field-addon {
		.button {
			top: 2px;
		}
	}
}

@media (max-width: 600px) {
	.vi-field-controls {
		.button {
			width: 100%;
		}
	}

	.vi-header {
		text-align: center;

		.vi-brand-module-actions {
			margin-top: 10px;
		}

		.vi-btn {
			display: block;
		}

		[class^="vi-col"] {
			width: 100%;
		}
	}
}

// New repeatable fields
.vi-repeatable-field-wrap {
	border: 1px solid $border-color;
	border-radius: $border-radius-base;
	margin-top: 15px;
	clear: both;
}

.vi-repeatable-field-heading {
	margin: 0;
	padding: 10px 18px;
	background: $lighter-grey;
}

.vi-repeatable-field {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding: 15px;
}

.vi-repeatable-field-content {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: 1fr 1fr;
}

.vi-repeatable-fields-footer {
	display: flex;
	justify-content: flex-start;
	padding: 10px 15px;
}

button.vi-fields-add-button,
button.vi-fields-remove-button {
	display: flex !important;
	align-items: center;
}

button.vi-fields-remove-button {
	margin-left: auto !important;
}

button.vi-fields-remove-button .dashicons {
	color: $red;
}

// Overlay fields overrides
vi-overlays-field .vi-repeatable-field-content {
	grid-template-columns: 100px 1fr;
}

.vi-overlay-template-form-fields {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: 1fr 1fr;
}
