@charset "UTF-8";

@keyframes vi-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes backgroundPosition {
  0% {
    background-position: -140px 0;
  }

  100% {
    background-position: 140px 0;
  }
}

:root {
  --vi-admin-brand-color: #1c4866;
  --vi-admin-brand-secondary-color: #ffcc00;
  --vi-admin-lighter-grey: #f1f1f1;
  --vi-admin-light-grey: #eeeeee;
  --vi-admin-medium-grey: #d7d7d7;
  --vi-admin-dark-grey: #cccccc;
  --vi-admin-color-white: #ffffff;
  --vi-admin-color-blue: #0073aa;
  --vi-admin-color-red: #ff0000;
  --vi-admin-color-green: #14b552;
  --vi-admin-info-box-background-color: #fffce6;
  --vi-admin-info-box-border-color: #eeeac9;
  --vi-admin-info-box-text-color: #948832;
  --vi-admin-base-padding: 15px;
  --vi-admin-transition-time: 0.18s;
  --vi-admin-border-color: var(--vi-admin-lighter-grey);
  --vi-admin-border-radius-base: 2px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.vi-row {
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box;
}

.vi-row::after {
  content: '';
  display: table;
  clear: both;
}

[class^='vi-col-'] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  box-sizing: border-box;
}

.vi-btn {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  line-height: normal;
  border: 0;
  box-shadow: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
  width: auto;
  height: auto;
  background-image: none;
  padding: 11px 20px 11px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--vi-admin-brand-color);
  color: var(--vi-admin-color-white);
  text-decoration: none;
}

.vi-btn:hover,
.vi-btn:focus {
  color: var(--vi-admin-color-white);
  background-color: var(--vi-admin-brand-color);
}

.vi-btn-green {
  background-color: var(--vi-admin-color-green);
}

.vi-btn-green:hover,
.vi-btn-green:focus {
  color: var(--vi-admin-color-white);
  background-color: var(--vi-admin-color-green);
}

.vi-brand-module {
  background-color: var(--vi-admin-brand-color);
  padding: var(--vi-admin-base-padding);
  color: var(--vi-admin-color-white);
  font-size: 12px;
}

.vi-brand-module p {
  font-size: 12px;
}

.vi-brand-module a:not(.vi-btn) {
  color: var(--vi-admin-brand-secondary-color);
  text-decoration: none;
}

.vi-brand-module-actions {
  text-align: right;
  margin-left: auto;
}

.vi-brand-module-actions p {
  margin: 0;
}

.vi-header {
  margin: 12px 0 -12px;
  height: 40px;
  display: flex;
  align-items: center;
}

.vi-header-actions {
  text-align: right;
}

.vi-logo {
  display: inline-block;
  position: relative;
  line-height: 0;
}

.vi-logo img {
  height: 26px;
}

.vi-note {
  font-style: italic;
}

.vi-list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vi-list-inline li {
  display: inline-block;
  margin: 0;
}

.vi-footer-links a::after {
  content: '\007c';
  color: var(--vi-admin-color-white);
  opacity: 0.5;
  margin: 0 7px;
}

.vi-footer-links li:last-child a::after {
  display: none;
}

.vi-module {
  border: 1px solid var(--vi-admin-light-grey);
  margin-top: 12px;
  padding: var(--vi-admin-base-padding);
}

.vi-module::after {
  content: '';
  display: table;
  clear: both;
}

.vi-container {
  margin-top: 12px;
}

.vi-field-controls-wrap {
  padding: var(--vi-admin-base-padding);
  border: 1px solid var(--vi-admin-light-grey);
}

.vi-field-controls-wrap::after {
  content: '';
  display: table;
  clear: both;
}

.vi-field-controls {
  float: left;
}

.vi-field-controls .button {
  margin-right: 5px;
}

.vi-field-controls-visibility {
  float: right;
  padding-top: 4px;
}

.vi-field-controls-visibility a {
  text-decoration: none;
}

.vi-fields-expand-all {
  margin-right: 8px;
  padding-right: 6px;
  border-right: 1px solid var(--vi-admin-lighter-grey);
}

.vi-fields-container {
  padding: var(--vi-admin-base-padding);
  border-left: 1px solid var(--vi-admin-light-grey);
  border-right: 1px solid var(--vi-admin-light-grey);
}

.vi-field-repeatable {
  margin-bottom: var(--vi-admin-base-padding);
  border: 1px solid var(--vi-admin-medium-grey);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
  border-radius: var(--vi-admin-border-radius-base);
}

.vi-field-repeatable:last-child {
  margin-bottom: 0;
}

.vi-field-repeatable:only-child .vi-remove-field {
  display: none;
}

.vi-field-container {
  padding: var(--vi-admin-base-padding);
  background-color: var(--vi-admin-color-white);
  display: flex;
  flex-direction: column;
}

.vi-field-container::after {
  content: '';
  display: table;
  clear: both;
}

.vi-field-head {
  padding: 8px var(--vi-admin-base-padding) 5px;
  line-height: normal;
  background-color: var(--vi-admin-medium-grey);
  background: linear-gradient(
    to bottom,
    var(--vi-admin-lighter-grey),
    var(--vi-admin-medium-grey)
  );
  border-bottom: 1px solid var(--vi-admin-dark-grey);
}

.vi-field-head::after {
  content: '';
  display: table;
  clear: both;
}

.vi-field-head .toggle-indicator {
  border-radius: 50%;
}

.vi-fields-sortable .vi-field-head {
  cursor: move;
}

.vi-field-sort-handle {
  position: relative;
  top: 1px;
  color: var(--vi-admin-color-blue);
}

.vi-field-sort-handle .dashicons {
  font-size: 18px;
}

.vi-field-title {
  font-weight: bold;
  font-size: 1.05em;
  margin-left: 8px;
  padding-top: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
  display: inline-block;
}

.vi-field-toggle {
  float: right;
}

.vi-field-image {
  width: 100px;
  height: 100px;
  background-color: var(--vi-admin-lighter-grey);
  border: 1px solid var(--vi-admin-light-grey);
  border-radius: var(--vi-admin-border-radius-base);
}

.vi-field-track-fields {
  display: flex;
  grid-column-gap: 15px;
  grid-template-columns: 100px 1fr 1fr;
}

.vi-field-split {
  width: 50%;
  flex: auto;
}

.vi-container .button .dashicons,
.vi-module .button .dashicons {
  font-size: 1.2em;
  line-height: 1.7em;
}

.vi-form-field-group {
  padding: var(--vi-admin-base-padding);
  border: 1px solid var(--vi-admin-border-color);
  margin-bottom: var(--vi-admin-base-padding);
}

.vi-form-field-group :last-child {
  margin-bottom: 0;
}

.vi-form-field-group-title {
  margin-top: 0;
}

.vi-form-field {
  margin-bottom: var(--vi-admin-base-padding);
}

.vi-form-field:only-child {
  margin-bottom: 0;
}

.vi-form-field label {
  display: inline-block;
  margin-bottom: 3px;
}

.vi-form-field input[type='text'],
.vi-form-field input[type='url'],
.vi-form-field input[type='search'],
.vi-form-field input[type='email'],
.vi-form-field input[type='password'],
.vi-form-field input[type='number'],
.vi-form-field input[type='tel'],
.vi-form-field input[type='date'],
.vi-form-field textarea,
.vi-form-field select {
  width: 100%;
}

.vi-form-field input[type='checkbox'],
.vi-form-field input[type='radio'] {
  display: inline-block;
  position: relative;
  top: 1px;
}

.vi-module-settings .vi-form-field input[type='text'],
.vi-module-settings .vi-form-field input[type='url'],
.vi-module-settings .vi-form-field input[type='search'],
.vi-module-settings .vi-form-field input[type='email'],
.vi-module-settings .vi-form-field input[type='password'],
.vi-module-settings .vi-form-field input[type='number'],
.vi-module-settings .vi-form-field input[type='tel'],
.vi-module-settings .vi-form-field input[type='date'],
.vi-module-settings .vi-form-field textarea,
.vi-module-settings .vi-form-field select {
  width: 200px;
  max-width: 100%;
  display: block;
}

.vi-form-field-addon {
  position: relative;
}

.vi-form-field-addon input {
  padding-right: 80px;
}

.vi-form-field-addon button {
  position: absolute;
  top: 0;
  right: -2px;
}

.vi-field-help {
  margin: 5px 0 0;
  font-style: italic;
  color: #999;
}

.vi-form-field-checkbox-secondary {
  margin-top: 7px;
}

.vi-remove-field {
  align-self: flex-end;
}

.vi-field-image-upload {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  text-decoration: none;
  color: initial;
  overflow: hidden;
}

.vi-field-image-upload img {
  max-width: 100%;
  display: none;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.vi-field-image-has-value .vi-field-image-upload-dismiss {
  display: block;
}

.vi-field-image-has-value .vi-field-image-placeholder {
  display: none;
}

.vi-field-image-has-value img {
  display: inline-block;
}

.vi-field-image-placeholder {
  text-align: center;
  font-style: normal;
  font-size: 0.9em;
  opacity: 0.8;
  padding-top: 28px;
}

.vi-field-image-placeholder::before {
  content: '';
  font: 400 20px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
  display: block;
  margin-bottom: 5px;
}

.vi-field-image-loading .vi-field-image-placeholder::before,
.vi-track-loading .vi-field-image-placeholder::before {
  content: '\f463';
  animation: rotation 1.2s infinite linear;
}

.vi-field-image-upload-dismiss {
  color: var(--vi-admin-color-white);
  background-color: var(--vi-admin-color-red);
  width: 16px;
  height: 16px;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.9;
  transition: opacity var(--vi-admin-transition-time) ease-in;
  display: none;
  text-align: center;
  z-index: 2;
}

.vi-field-image-upload-dismiss:hover {
  opacity: 1;
}

.vi-field-image-upload-dismiss .dashicons {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.vi-remove-all-fields .dashicons,
.vi-remove-field .dashicons {
  color: var(--vi-admin-color-red);
}

.vi-add-field-batch .dashicons,
.vi-add-field .dashicons {
  color: var(--vi-admin-color-blue);
}

.vi-info-box {
  background: var(--vi-admin-info-box-background-color);
  color: var(--vi-admin-info-box-text-color);
  font-size: 12px;
  border: solid 1px var(--vi-admin-info-box-border-color);
  padding: 15px;
  margin: 0 0 15px 0;
}

.vi-playlist-layout-message {
  display: none;
}

.vi-drop-placeholder {
  background-color: var(--vi-admin-lighter-grey);
  border: 2px dashed var(--vi-admin-dark-grey);
  opacity: 0.5;
  margin-bottom: var(--vi-admin-base-padding);
}

.vi-collapsed .vi-field-container {
  display: none;
}

.vi-collapsed .toggle-indicator::before {
  content: '\f140' !important;
}

.vi-module-shortcode .code {
  display: block;
  width: 100%;
  margin-top: 3px;
  padding: 10px 10px 8px;
  font-weight: bold;
  background: var(--vi-admin-lighter-grey);
}

.vi-repeatable-field-wrap {
  border: 1px solid var(--vi-admin-border-color);
  border-radius: var(--vi-admin-border-radius-base);
  margin-top: 15px;
  clear: both;
}

.vi-repeatable-field-heading {
  margin: 0;
  padding: 10px 18px;
  background: var(--vi-admin-lighter-grey);
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

.vi-repeatable-field {
  border-top: 1px solid var(--vi-admin-border-color);
  border-bottom: 1px solid var(--vi-admin-border-color);
  padding: 15px;
}

.vi-repeatable-field-content {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.vi-repeatable-fields-footer {
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
}

button.vi-fields-add-button,
button.vi-fields-remove-button {
  display: flex !important;
  align-items: center;
}

button.vi-fields-remove-button {
  margin-left: auto !important;
}

button.vi-fields-remove-button .dashicons {
  color: var(--vi-admin-color-red);
}

vi-overlays-field .vi-repeatable-field-content {
  grid-template-columns: 100px 1fr;
}

.vi-overlay-template-form-fields {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

/* Tooltips */
.tooltip {
  position: relative;
  z-index: 1;
  display: flex;
  background: none;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 5px 10px;
  margin: 0 0 0 -10px;
}

.tooltip::before {
  content: '\003f';
  font-size: 11px;
  font-weight: 700;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 0;
  position: relative;
  background-color: var(--vi-admin-dark-grey);
  color: var(--vi-admin-brand-color);
  cursor: help;
  border: 1px solid var(--vi-admin-dark-grey);
}

.tooltip > span {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: max-content;
  max-width: 200px;
  padding: 0.85rem 1rem;
  border-radius: var(--vi-admin-border-radius-base);
  background: rgba(0, 0, 0, 0.8);
  color: var(--vi-admin-color-white);
  text-align: left;
  font-size: 13px;
  text-indent: 0;
  font-weight: normal;
  visibility: hidden;
  opacity: 0;
  transition:
    transform 0.18s ease 0.15s,
    opacity 0.18s ease 0.15s,
    visibility 0s ease 0.25s;
}

.tooltip > span a {
  color: currentColor;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.tooltip:focus-visible > span,
.tooltip:focus > span,
.tooltip:hover > span {
  transition-delay: 0s, 0s, 0s;
  visibility: visible;
  opacity: 1;
}

[data-tooltip] {
  position: relative;
}

@media (max-width: 1200px) {
  .vi-field-controls,
  .vi-field-controls-visibility {
    margin: 0;
    float: none;
    width: 100%;
  }

  .vi-field-track-fields {
    flex-wrap: wrap;
  }

  .vi-field-track-fields .vi-field-image {
    margin-bottom: 15px;
  }

  .vi-field-track-fields .vi-field-split {
    width: 100%;
  }

  vi-subtitles-field .vi-repeatable-field-content,
  .vi-overlay-template-form-fields {
    grid-template-columns: 1fr;
  }

  .vi-field-controls {
    margin-bottom: 5px;
  }

  .vi-field-container-links {
    display: block;
  }

  .vi-footer {
    text-align: center;
  }

  .vi-footer .vi-brand-module-actions {
    text-align: center;
    margin-top: 10px;
  }

  .vi-footer [class^='vi-col'] {
    width: 100%;
  }
}

@media (max-width: 782px) {
  .vi-container .button .dashicons,
  .vi-module .button .dashicons {
    line-height: 2.3em;
  }

  button.vi-fields-add-button,
  button.vi-fields-remove-button {
    display: block !important;
  }
}

@media (max-width: 600px) {
  .vi-field-controls .button {
    width: 100%;
  }

  .vi-header {
    text-align: center;
  }

  .vi-logo img {
    height: 16px;
  }

  .vi-header .vi-btn {
    display: block;
  }

  .vi-header [class^='vi-col'] {
    width: 100%;
  }
}
